	/* Default Browser margin & padding reset */
	*{

		margin: 0;
		padding: 0;
	}

	html , body {
		height: 100%;
	}
	
	/* Basic structures */
	body {
		background-color: rgb(0, 0, 0);
		font-size: 16px;
		font-family: 'PT Sans', sans-serif;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	#heroTitle , #sideBar , .main {
		flex: 1 0 auto;
	}
	
	main {
	
		color: #00eeff;
	}

	/* Elements atributes */
	#heroTitle {
		
		font-family: 'Expletus Sans', 'PT Sans';
		background-image: radial-gradient(circle, #ffffff 25%, #fbff00);
		padding: 5px;
		border-radius: 5px 30px;
		width: 50vh;
		max-width: 50%;
		max-height: 110px;
		background-position: center;
		margin: 10px auto 10px auto;
		color: #1F0812
		
	}

	.sectionTitle {

		text-align: left;
		display: flex;
		justify-content: center;
		color: #fbff00;
		padding: 10px 10px;
	}

	h3 , h4 {

		font-size: 2em;
	}

	#mainTitle {

		font-size: 3em;
	}

	.list {

		list-style-type: none;
		display: flex;
		flex-direction: column;
		text-align: left;
		flex-grow: 1;
	}

	#skillsList {

		display: flex;
		justify-content: center;
		margin: auto;
	}

	#skillsList .list {
		max-width: 22.5%;
	}

	#skillsList .list li {
		width: auto;
		text-align: left;
		margin: 0.5em;
		padding-left: 5%;
	}

	li {
		font-weight: bold;
		width: 25%;
		margin: auto;
		text-align: left;
	}

	.internalLink , .externalLink {

		text-decoration: underline;
		color: #ff006a;
		opacity: 75%;
		transition: opacity 150ms ease-in-out;
	}

	.internalLink:hover , .externalLink:hover{

		opacity: 100%;
	}

	#aboutMe {

		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 800px;
		text-align: justify;
		padding-top: 1%;
		margin: auto;
	}

	#aboutMeArticle {

		display: flex;
		justify-content: center;
		gap: 10px;
	}

	#aboutMeArticle p {
		margin-left: 51%;
	}

	.footer {
		
		flex-shrink: 0;
		margin-top: auto;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		background-image: linear-gradient(to top, rgb(56, 56, 56) 25%,  transparent);
		display: flex;
		justify-content: space-between;
		height: 120px;
		align-items: center;
	}

	.footer li {
	
		font-size: 0.8em;
		width: auto;
	}

	.footer h4 {

		font-size: 1.5em;
	}

	.footer img {
		max-width: 80px;
		min-width: 60px;
	}

	.footer nav {
		
		flex-grow: 1;
		min-width: 50%
	}

	.footer #socialMedia {
		
		flex-grow: 1;
		min-width: 50%;
		align-self: flex-end;

	}
		
	img {

		object-fit: cover;
	}

	.icons {
		border-radius: 5px;
		margin-top: 5px;
	}

	.img-on-top, .img-on-bot {
		border-radius: 25%;
		margin-inline-end: 10px;
		height: 400px;
		width: 400px;
	}

	.images {
		position: relative;
		margin-bottom: 400px;
	}

	.images img {
		position: absolute;
	}

	.img-on-top {
		animation-name: fade;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 6s;
		animation-direction: alternate;
	}

	aside {
	
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 200px;			
		z-index: 100;
	}

	aside li {
	
		width: auto;
	}
			
	@keyframes fade {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 1;
		}
		75% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	